body{
    text-align: center;
    /* background-color: darkred; */
    background-image:url(john-fowler-RsRTIofe0HE-unsplash.jpg);
    background-size: cover;
}

h1{
    font-family: 'Bungee Spice', cursive;
}
h2{
    font-family: 'Gluten', cursive;
}
/* ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
} */
/* .stage{} */
.square{
    width: 100px;
    height: 100px;
    background-color: beige;
    border: 1px solid gray;
    display: inline-block;
    position: relative;
}

.square:hover{
    /* background-color: aqua; */
    background-color: #00ffff;
    transform: scale(1.06);
    transition: 200ms;
    cursor: pointer;
    
}

/* .o{} */
.o:after{
    content: "\1F43A";
    /* content:attr(data-iconp1); */
    font-size: 50px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    line-height: 100px;
}

/* .x{} */
.x:after{
    content: "\1F98A";
    /* content:attr(data-iconp2); */
    font-size: 50px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    line-height: 100px;
    /* background-color: red; */
}

.section{
    text-align: center;
    margin-top: 20px;
    position: relative;
    /* background-color: blue; */
    /* width: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.player:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 200ms;
}

.player{
    width: 100px;
    height: 100px;
    background-color: beige;
    border: 1px solid gray;
    position: relative;
    display: inline-block;
    margin: 30px;
}

#p1::before{
    content: "\1F43A";
    /* content:attr(data-iconp1); */
    font-size: 50px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    line-height: 100px;
}

#p2::before{
    content: "\1F98A";
    /* content:attr(data-iconp2); */
    font-size: 50px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    line-height: 100px;
    /* background-color: red; */
}

#button{
    margin: 30px;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    border: none;
    /* color: white; */
    background-color: aqua;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Gluten', cursive;
}

#button:hover{
    transform: scale(1.3);
    transition: 200ms;
    cursor: pointer;
}

.modalplayer{
    width: 340px;
    height: 888px;
    display: none;
    background-color: red;
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-68%);
    border-radius: 15px;
    /* opacity: 0.3; */
    position: relative;
    overflow: hidden;
}

.s{
    height: 30px;
    width: 100%;
    /* background-color: blue; */
    position: relative;
    margin-top: 10px
}

.squaremodal{
    width: 100px;
    height: 100px;
    background-color: beige;
    border: 1px solid gray;
    display: inline-block;
    position: relative;
    /* display: grid;
    grid-template-columns: (3, 1fr);
    grid-template-rows: (8, 1fr);
    justify-content: center;
    justify-items: center; */
}

.squaremodal::before{
    content: attr(data-icon);
    font-size: 50px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    line-height: 100px;
}
.squaremodal:hover{
    transform: scale(1.06);
    transition: 200ms;
    cursor: pointer;
}

.closemodal{
    width: 30px;
    height: 30px;
    background-color: white;
    background-image: url(cancel.png);
    border-radius: 25px;
    float: right;
    cursor: pointer;
}
.closemodal:hover{
    transform: scale(1.1);
    transition: 200ms;
    cursor: pointer;
}